html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "player1 player2";
}

.player1 {
  grid-area: player1;
}

.player2 {
  grid-area: player2;
}

.btn-new-game, .dice, .commands {
  position: absolute;
}

.btn-new-game {
  left: calc(50% - 75px);
  top: 3%;
}

.dice {
  left: calc(50% - 75px);
  top: 40%;
}

.commands {
  left: calc(50% - 150px);
  bottom: 3%;
}

@include minBreakPoint(801px) {
  
  .btn-new-game {
    top: 10%;
    left: calc(50% - 125px);
  }

  .dice {
    left: calc(50% - 75px);
  }

  .commands {
    bottom: 10%;
    left: calc(50% - 75px);
  }
}

@include minBreakPoint(1281px) {
  .commands {
    left: calc(50% - 150Px);
  }
}