.dice {
  @include flexDisplay(center, center);
  flex-wrap: wrap;
  align-content: space-between;
  gap: 15px 30px;

  width: 140px;
  height: 140px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow:  6px 6px 12px #01010172,
              -6px -6px 12px #0000002c;
  
  & div {
    @include diceDot(1.3rem, #FFF);
  }
}
