.player1 {
  grid-area: player1;
}

.player2 {
  grid-area: player2;
}

.player1, .player2 {
  @include flexDisplay(center, center, column);

  & h2 {
    font-size: 7rem;
    font-weight: 300;
    margin: 140px 0 20px;
    position: relative;
  }

  & .global {
    font-size: 15rem;
    font-weight: 100;
    margin-bottom: 170px;
  }

  .current-container {
    @include flexDisplay(space-around,center,column);
    width: 250px;
    height: 150px;

    margin-bottom: 100px;
    background-color: $orange;
    font-size: 2rem;
    & .current {
      font-size: 5rem;
      color: #FFF;
    }
  }
}

@include maxBreakPoint(1300px) {
  .current-container {
    width: 150px;
    height: 100px;
  }

  .player1, .player2 {

    & h2 {
      font-size: 5rem;
    }
  }
}