@mixin flexDisplay($justifyContent:center, $alignItems:center, $direction:row) {
  display: flex;
  justify-content:$justifyContent;
  align-items: $alignItems;
  flex-direction: $direction;
}

@mixin minBreakPoint($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin diceDot($size, $color) {
  height: $size;
  width: $size;
  border-radius: 50%;
  background-color: $color;
}
